h1, h2 {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container {
  border: 5px solid black;
  background-color: rgb(224, 130, 67)
}

.container .title_container {
  padding:10px;
  text-align: center;
}

.menu_list{
  display:flex;
  flex-wrap: wrap;
}

.menu_list ul li{
  list-style: none;
  font-size: 0.8rem;
  transition: transform .2s;
  margin: 4px 0px;
  text-decoration: none;
  cursor: pointer;
}

.menu_list ul li:hover{
  text-decoration: underline;
  transform: scale(1.1); 
  color:white;
}