* {
  font-family: 'Dancing Script', cursive;
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  border: 5px solid black;
  background: radial-gradient( circle, rgba(255, 252, 0, 1) 0%, rgb(95, 94, 7) 100%);
}

.container .title_container h3 {
  margin: 0;
  font-size: 8em;
  padding: 0;
  color: white;
  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}

.title_container h3 span {
  transform: scale(0.9);
  display: inline-block;
}

.title_container h3:first-child {
  animation: bop 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

.title_container h3:last-child {
  animation: bopB 1s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards infinite alternate;
}

@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%, 100% {
    transform: scale(1);
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%, 100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

.menu_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
}

.menu_list ul {
  list-style: none;
}

.menu_list ul h3 {
  font-size: 3rem;
  text-decoration: underline;
}

.menu_list ul li {
  margin: 4px 0px;
  cursor: pointer;
  transition: transform .2s;
}

.menu_list ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}

.menu_list ul li:hover {
  transform: scale(1.1);
  text-decoration: underline;
  color: white;
  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1)
}

.menu_list ul li a:hover {
  transform: scale(1.1);
  text-decoration: underline;
  color: white;
  text-shadow: 0 0.8em 20px rgba(0, 0, 0, 1)
}