* {
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
}

.var_container {
    width: 100%;
    height: 100%;
    border: 5px solid black;
    overflow: hidden;
    background: radial-gradient( circle, rgba(255, 252, 0, 1) 0%, rgb(95, 94, 7) 100%);
}

.title_container {
    display: flex;
    margin: 10px 0px;
    justify-content: center;
}

.menu {
    position: fixed;
    padding-left: 25px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: underline;
    color: black;
}

.var_container .title_container h4 {
    margin: 0;
    font-size: 2.5em;
    padding: 0;
    color: white;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}

.title_container h4 span {
    transform: scale(0.9);
    display: inline-block;
}

.title_container h4:first-child {
    animation: bop 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

@keyframes bop {
    0% {
        transform: scale(1.5);
    }
    50%, 100% {
        transform: scale(0.8);
    }
}

.des_continer {
    display: flex;
    justify-content: center;
}

.des_border {
    border: 5px solid black;
    width: 95%;
    height: 500px;
    overflow: auto;
    background-color: black;
}

.des_border .description {
    padding: 25px;
    color: blanchedalmond;
}

.description strong {
    font-size: 1.3rem;
    color: brown;
    margin: 10px 0px;
}

.code_block {
    width: 70%;
}

.code_block pre {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    overflow: auto;
    background: #f5f2f0;
    border: 1px solid #f5f2f0;
    color: black;
    padding-left: 1rem;
}

code {
    text-align: left;
}

.comment {
    color: #708090;
}

.keyword {
    color: #07a;
}